  <% if @list.photo.key != nil %>
  <div class="bg-img-show d-flex justify-content-center align-items-center" style="background-image: url(<%= cl_image_path @list.photo.key%>)">
    <h1 class="text-center mt-3 text-white"><strong><%= @list.name.capitalize %></strong> (<%= @bookmarks.count%>)</h1>
  </div>
<% elsif @list.movies.first.poster_url != nil %>
  <div class="bg-img-show d-flex justify-content-center align-items-center" style="background-image: url(<%= image_path @list.movies.first.photo_url %>)">
    <h1 class="text-center mt-3 text-white"><strong><%= @list.name.capitalize %></strong> (<%= @bookmarks.count%>)</h1>
  </div>
<% else %>
  <div class="bg-img-show d-flex justify-content-center align-items-center" style="background-image: url('https://res.cloudinary.com/dhubox8yl/image/upload/v1700226258/alex-litvin-MAYsdoYpGuk-unsplash_b9y6wi.jpg')">
    <h1 class="text-center mt-3 text-white"><strong><%= @list.name.capitalize %></strong> (<%= @bookmarks.count%>)</h1>
  </div>
<% end %>

<div class="container my-5">


  <div class="d-flex justify-content-start">
    <%= link_to root_path, class: "d-inline" do %>
      <button class="btn btn-outline-warning mb-5">Back</button>
    <% end %>
  </div>
  <div class="row">
      <div class="d-flex flex-wrap gap-3">
        <% @bookmarks.each do |bookmark| %>
          <div class="card px-0 rounded overflow-hidden" style="width: 18rem;">
            <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, width: 200, class: "card-img-top" %>
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h3><%= bookmark.movie.title %></h3>
                <p><%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></p>
                <hr>
                <p><%= bookmark.movie.overview %></p>
              </div>

              <div>
                <hr>
                <p><strong>" <%= bookmark.comment %> "</strong></p>
                <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-xmark h4"></i>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <hr class="my-5">

      <div>
        <h3 class="text-success mb-3">Add Movie</h3>

        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
</div>
